@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: var(--color4);
  background-color: var(--color1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color1: #211951;
  --color2: #836FFF;
  --color3: #15F5BA;
  --color4: #F0F3FF;
  --color5: #181818;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: calc(100vh - 4rem);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

button {
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

